<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>
    Gross Exposure and PNL
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--  For logout icon -->
  <link href="../static/assets/css/now-ui-dashboard.css?v=1.3.0" rel="stylesheet" /> 
  <link href="http://cdn-na.infragistics.com/igniteui/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet">
  <script src="https://d3js.org/d3.v4.min.js"></script> 
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/highcharts-more.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <style>
  h2{
      color:white !important;  
  }
  .panel-header-lg5{
       height: 550px !important;
   }

   #usertools{
    float: right;
    padding: 0;
    margin: 0 0 0 20px;
    font-weight: 500;
    font-size: 13px;
    color:white;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: right;
   }
    .main-panel > .content
    {
        min-height: 0px !important;
    }   
    </style>
</head>
<body class="" onload="bar_of_bar('8/19/2019'); pie_of_pie('8/19/2019')">
  <div class="wrapper ">
    <div class="sidebar" data-color="orange" >
      <div class="logo">
        <a  href="{% url 'firstpage'%}">
            <img src="../static/images/ghclogo.png" height=70 width=70>
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li >
            <a href="{% url 'firstpage'%}">
              <!-- <i class="now-ui-icons design_app"></i> -->
              <p>Portfolio Overview</p>
            </a>
          </li>
          <li>
            <a href="{% url 'secondpage'%}">
              <!-- <i class="now-ui-icons education_atom"></i> -->
              <p>Net Exposure</p>
            </a>
          </li>
          <li >
            <a href="{% url 'thirdpage'%}">
              <!-- <i class="now-ui-icons location_map-big"></i> -->
              <p>Factor Contribution</p>
            </a>
          </li>
          <li class="active">
            <a href="{% url 'fourthpage'%}">
              <!-- <i class="now-ui-icons ui-1_bell-53"></i> -->
              <p>Gross Exposure and PnL</p>
            </a>
          </li>
          <li >
            <a href="{% url 'fifthpage'%}">
              <!-- <i class="now-ui-icons users_single-02"></i> -->
              <p>Value at Risk</p>
            </a>
          </li>
          <li>
            <a href="{% url 'sixthpage'%}">
              <!-- <i class="now-ui-icons design_bullet-list-67"></i> -->
              <p>Excess, Vol and Return Disturbution</p>
            </a>
          </li>
          <li >
            <a href="{% url 'logout'%}">
                <!-- <i class="far fa-user mr-2 tm-logout-icon"></i> -->
                <span>Logout<i style="font-size:24px" class="fa">&#xf08b;</i></span>
    
            </a>
        </li>
      
        </ul>
      </div>
    </div>
    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <h4 style=" text-transform: uppercase;">PNL Drilldown By Sector</h4>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <ul style="float:right">
            <li style="display: inline-block;font-size:13px; text-transform: uppercase;">welcome,&nbsp;{{user}}</li>
        </ul>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-lg5" id="centered">
            <div id="container2" ></div>
            <script>
            function bar_of_bar(selected_date)
            {
                data1={{sector2|safe}}
                data2={{ticker|safe}}
                var filtered,filtered2;
                for(i=0;i<data1.length;i++)
                {
                    filtered=data1[i].filter(function(item){
                                item.y=item.y/1000
                            return item.date==selected_date;
                                });    
                    if(filtered.length!=0)
                      {
                       break;
                      }
                }
                for(i=0;i<data2.length;i++)
                {
                    filtered2=data2[i].filter(function(item){
                            for(j=0;j<(item.data).length;j++)
                            {
                                item.data[j][1]=item.data[j][1]/1000;
                            }
                            return item.date==selected_date;
                                });    
                    if(filtered2.length!=0)
                      {
                       break;
                      }
                }
                if (filtered.length >0)
                {
                        document.getElementById("container2").style.display="block"
                        Highcharts.chart('container2', {
                        chart: {
                            type: 'column',
                            backgroundColor:'transparent'
                        },
                        credits: {
                                        enabled: false
                                    },
                                    exporting: {
                                    buttons: {
                                        contextButton: {
                                        enabled:false
                                        },
                                    }
                                },
                        title: {
                            text:''
                        },
                        xAxis: {
                            lineWidth: 0,  tickLength: 0,
                                labels: {
                                enabled:false,
                                }
                        },
                        yAxis: {
                            gridLineWidth: 0,
                            title: {
                            text: 'PNL values($)',
                            style: {
                                            color: 'white',
                                            fontSize:'11px',
                                            fontFamily:'verdana',
                                            fontWeight:'lighter'
                                        },
                            },
                            labels: {
                                style: {
                                            color: 'white',
                                            fontSize:'11px',
                                            fontFamily:'verdana'
                                        },
                                        formatter: function(){
                                        return  this.value+ 'K';
                                        }
                                    },
                        },
                        plotOptions: {
                            series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true,
                                format: '{point.name}<br>${point.y:.0f}K'
                            }
                            }
                        },
                        tooltip: {
                            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>${point.y:.0f}K</b><br/>'
                        },
                        series: [{
                            name: '',
                            colorByPoint: true,
                            data:filtered,showInLegend: false,
                          dataLabels: {
                                    formatter: function() {
                                        return point.name ;
                                    },
                                    color: 'white',  
                                    distance: -30
                                }
                        }],
                        drilldown: {
                            series: filtered2,
                        }
                        });
                        }
                        else{
                            document.getElementById("image").style.display="block"
                            document.getElementById("container2").style.display="none"
                            document.getElementById("image").innerHTML="<img src='../static/images/nodata.jpg\' width=\"200px\" height=\"200px\"  >";
                        }
                    }
            </script>
      </div>
      <div class="content">
            <div class="row">
              <div class="col-lg-12">
                <div class="card card-chart">
                  <div class="card-header">
                    <h5 class="card-category">Gross Exposure</h5>
                    <h4 class="card-title">Gross Exposure Drilldown By Sector</h4>
                  </div>
                  <div class="card-body">
                                 <div id="container" ></div>
                                <script>
                                function pie_of_pie(selected_date)
                                {
                                    data1={{sector|safe}}
                                    data2={{region|safe}}
                               
                                    var filtered,filtered2;
                                    for(i=0;i<data1.length;i++)
                                    {
                                    
                                         sector=data1[i].filter(function(item){
                                                
                                                return item.date==selected_date;         
                                                    });	
                                        if(sector.length!=0)
                                          {
                                           break;
                                          }
                                        
                                    }
                                   
                                    for(i=0;i<data2.length;i++)
                                    {
                                    
                                         region=data2[i].filter(function(item){
                                                
                                                return item.date==selected_date;         
                                                    });	
                                        if(region.length!=0)
                                          {
                                           break;
                                          }
                                        
                                    }
                                
                                    
                                if(sector.length>0)
                                {
                                    document.getElementById("container").style.display="block"
        
                                    Highcharts.chart('container', {
                                    chart: {
                                        type: 'pie',
                                        plotBackgroundColor: null,
                                      plotBorderWidth: null,
                                      plotShadow: false,
                                    },
                                    title: {
                                            text: ''
                                        },
                                        credits: {
                                                    enabled: false
                                                },
        
                                                exporting: {
                                                buttons: {
                                                    contextButton: {
                                                       enabled:false
                                                    },
                                                    
                                                }
                                            },
                                                                    
                                    tooltip: {
                                      pointFormat: '<span style="text-decoration:none">{series.name}</span>: <br>{point.percentage:.1f} %'
                                    },
                                    plotOptions: {
                                      pie: {
                                          size:'60%',
                                        dataLabels: {
                                            style: {
                                                        color: 'black',
                                                        fontSize:'12px',
                                                        fontFamily:'verdana'
                                                    },
                                          enabled: true,
                                          format: '<span style="">{point.name}</span> <br>{point.percentage:.1f} %',
                                        }
                                      }
                                    },
                                    series: [{
                                        name: 'Sector  split',
                                        data:sector,
                                
                                    
                                    }],
                                    
                                    drilldown: {
                                            drillUpButton: {
                                                position: {
                                                    verticalAlign: 'left'
                                                },
                                            },
                                        series: region
                                    
                                    }
                                });
                                }
                                else{
                                    document.getElementById("image1").style.display="block"
                                    document.getElementById("container").style.display="none"
                                    document.getElementById("image1").innerHTML="<img src='../static/images/nodata.jpg\' width=\"200px\" height=\"200px\"  >";
                                }
                                }
                                
                               
                                </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</body>
</html>
