<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>
    Value at Risk
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--  For logout icon -->
  <link href="../static/assets/css/now-ui-dashboard.css?v=1.3.0" rel="stylesheet" /> 
  <script src="https://d3js.org/d3.v4.min.js"></script> 
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/highcharts-more.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <style>
  h2{
      color:white !important;  
  }
  .panel-header-lg5{
       height: 500px !important;
   }
   #usertools{
    float: right;
    padding: 0;
    margin: 0 0 0 20px;
    font-weight: 500;
    font-size: 13px;
    color:white;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: right;
   }
    </style>
</head>
<body class="" onload="table_data('2019-08-30');">
  <div class="wrapper ">
     
    <div class="sidebar" data-color="orange" >
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a  href="{% url 'firstpage'%}">
            <img src="../static/images/ghclogo.png" height=70 width=70>
            
        </a>
        
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li >
            <a href="{% url 'firstpage'%}">
              <!-- <i class="now-ui-icons design_app"></i> -->
              <p>Portfolio Overview</p>
            </a>
          </li>
          <li>
            <a href="{% url 'secondpage'%}">
              <!-- <i class="now-ui-icons education_atom"></i> -->
              <p>Net Exposure</p>
            </a>
          </li>
          <li>
            <a href="{% url 'thirdpage'%}">
              <!-- <i class="now-ui-icons location_map-big"></i> -->
              <p>Factor Contribution</p>
            </a>
          </li>
          <li>
            <a href="{% url 'fourthpage'%}">
              <!-- <i class="now-ui-icons ui-1_bell-53"></i> -->
              <p>Gross Exposure and PnL</p>
            </a>
          </li>
          <li class="active ">
            <a href="{% url 'fifthpage'%}">
              <!-- <i class="now-ui-icons users_single-02"></i> -->
              <p>Value at Risk</p>
            </a>
          </li>
          <li>
            <a href="{% url 'sixthpage'%}">
              <!-- <i class="now-ui-icons design_bullet-list-67"></i> -->
              <p>Excess, Vol and Return Disturbution</p>
            </a>
          </li>
          <li >
            <a href="{% url 'logout'%}">
                <!-- <i class="far fa-user mr-2 tm-logout-icon"></i> -->
                <span>Logout<i style="font-size:24px" class="fa">&#xf08b;</i></span>
    
            </a>
        </li>
      
        </ul>
      </div>
    </div>


    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <h4 style=" text-transform: uppercase;">Daily VaR and PNL Monitoring</h4>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <ul style="float:right">
              <li style="display: inline-block;font-size:13px; text-transform: uppercase;">welcome,&nbsp;{{user}}</li>
        </ul>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-lg5" id="centered">
          <div id="container1" ></div>
            <script>
                    $(function () {
                        $('#container1').highcharts({
                            chart:{
                                    backgroundColor:'transparent'
                            },
                            title: {
                                text: '',
                                style: {
                                            color: 'white',
                                            fontSize:'18px',
                                            fontFamily:'verdana',
                                            },
                         
                                x: -20 
                            },
                            xAxis: {
                                categories:{{data3|safe}},
                                tickInterval: 50,lineColor:"white",
                                tickLength: 7,
                                        tickWidth: 1,
                                        tickColor:"white",
                                labels:{
                                      style: {
                                            color: 'white',
                                            fontSize:'13px',
                                            fontFamily:'verdana'
                                        },
                                }
                            },
                            credits: {
                                        enabled: false
                                    },
                                    exporting: {
                                        buttons: {
                                            contextButton: {
                                            enabled:false
                                            },
                                            
                                        }
                                    },
                            yAxis: {
                                gridLineWidth: 0,lineWidth:1,lineColor:"white",
                                tickLength: 7,
                                        tickWidth: 1,
                                        tickColor:"black",
                                title: {
                                    text: 'PNL & VaR 90D(%)',
                                    style:{
                                                color: 'white',
                                            fontSize:'13px',
                                            fontFamily:'verdana',
                                            }
                                },
                                labels: {
                                            style: {
                                            color: 'white',
                                            fontSize:'13px',
                                            fontFamily:'verdana',
                                            },
                         
                                        formatter: function(){
                                        return  (this.value).toFixed(1)+ '%';
                                        }
                                    },
                                plotLines: [{
                                    value: 0,
                                    width: 1,
                                    color: 'grey'
                                }]
                            },
                            tooltip: {
                                valueSuffix: "%"
                            },
                            legend: {
                                        align: 'center',
                                        verticalAlign: 'bottom',
                                        x: 0,
                                        y: 0
                                        ,
                                        itemStyle:{
                                          color:'white'
                                        },
                                       
                            },
                            series: [{
                          
                                name: 'PNL',
                                data:{{data2|safe}},
                                color:'red'
                            },        
                                {        		
                                type: "arearange",  
                                name:"VaR 90D",          
                                data: {{data|safe}},
                                showInLegend: false,
                                fillOpacity: 0.3
                            }]
                        });
                    });
                    </script>
      </div>
      <div class="content">
            <div class="row">
              <div class="col-lg-4">
                <div class="card card-chart">
                  <div class="card-header">
                    <h5 class="card-category">Value at Risk</h5>
                    <h4 class="card-title">By Ticker</h4>
                  </div>
                  <div class="card-body">
                        <div class="card-body">
                                <div class="table-responsive">
                                  <table class="table">
                                    <thead class=" text-primary">
                                      <th>
                                            Ticker_Und
                                      </th>
                                      <th>
                                            var90d%
                                      </th>
                            
                                    </thead>
                                    <tbody>
                                            <tr><td id="1"></td><td id="6"></td></tr>
                                            <tr><td id="2"></td><td id="7"></td></tr>
                                            <tr><td id="3"></td><td id="8"></td></tr> 
                                            <tr><td id="4"></td><td id="9"></td></tr>
                                            <tr><td id="5"></td><td id="10"></td></tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                  </div>
                  
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card card-chart">
                  <div class="card-header">
                    <h5 class="card-category">Value at Risk</h5>
                    <h4 class="card-title">By Country</h4>
                  </div>
                  <div class="card-body">
                        <div class="card-body">
                                <div class="table-responsive">
                                  <table class="table">
                                    <thead class=" text-primary">
                                      <th>
                                            Country
                                      </th>
                                      <th>
                                            var90d%
                                      </th>
                            
                                    </thead>
                                    <tbody>
                                            <tr><td id="11"></td><td id="16"></td></tr>
                                            <tr><td id="12"></td><td id="17"></td></tr>
                                            <tr><td id="13"></td><td id="18"></td></tr> 
                                            <tr><td id="14"></td><td id="19"></td></tr>
                                            <tr><td id="15"></td><td id="20"></td></tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                  </div>
                  
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card card-chart">
                  <div class="card-header">
                    <h5 class="card-category">Value at Risk</h5>
                    <h4 class="card-title">By Sector</h4>
                  </div>
                  <div class="card-body">
                        <div class="card-body">
                                <div class="table-responsive">
                                  <table class="table">
                                    <thead class=" text-primary">
                                      <th>
                                            GICS_Sector_Name
                                      </th>
                                      <th>
                                            var90d%
                                      </th>
                            
                                    </thead>
                                    <tbody>
                                            <tr><td id="21"></td><td id="26"></td></tr>
                                            <tr><td id="22"></td><td id="27"></td></tr>
                                            <tr><td id="23"></td><td id="28"></td></tr> 
                                            <tr><td id="24"></td><td id="29"></td></tr>
                                            <tr><td id="25"></td><td id="30"></td></tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                  </div>
                 
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card  card-tasks">
                  <div class="card-header ">
                    <h5 class="card-category">Value at Risk</h5>
                    <h4 class="card-title">VaR attribution & Reduction</h4>
                  </div>
                  <div class="card-body" id="card-body" >
                        <script>
                                Highcharts.chart('card-body', {
                                        chart: {
                                            type: 'area'
                                        },
                                    
                                        title: {
                                            text: '',
                                            style: {
                                            color: 'black',
                                            fontSize:'18px',

                                            fontFamily:'verdana',
                                            },
                         
                                        },
                                        credits: {
                                                enabled: false
                                            },
                                            exporting: {
                                            buttons: {
                                                contextButton: {
                                                enabled:false
                                                },
                                                
                                            }
                                        },
        
                                        xAxis: {
                                            lineWidth:1,lineColor:"black",
                                            tickLength: 7,
                                        tickWidth: 1,
                                        tickColor:"black",
                                            labels:{
                                                style: {
                                                color: 'black',
                                                fontSize:'13px',
                                                fontFamily:'verdana'
                                            },
                                          },
                                            allowDecimals: false,
                                            categories:{{list4|safe}}
                                            ,tickInterval: 30,
                                        tickmarkPlacement: 'on',
                                        },
                                        yAxis: {
                                        
                                            gridLineWidth: 0,lineWidth:1,lineColor:"black",
                                            tickLength: 7,
                                        tickWidth: 1,
                                        tickColor:"black",
                                            title: {
                                                text: 'VaR 90D(%)',
                                                style:{
                                                    color: 'black',
                                                fontSize:'13px',
                                                fontFamily:'verdana',
                                                }
                                            
                                            },
                                        
                                            labels: {
                                                style: {
                                                color: 'black',
                                                fontSize:'13px',
                                                fontFamily:'verdana'
                                            },
                                                formatter: function () {
                                                    return  (this.value).toFixed(1)+ '%';
                                                }
                                            }
                                        
                                        },
                                        tooltip: {
                                            shared:true,
                                                pointFormat: '{series.name}: <b>{point.y:.2f}%</b><br/>'
                                        
                                        },
                                        plotOptions: {
                                            area: {
                                                stacking: 'normal',
                                                marker: {
                                                    lineWidth: 1,
                                            lineColor: '#666666',
                                                    enabled: false,
                                                    symbol: 'circle',
                                                    radius: 2,
                                                    states: {
                                                        hover: {
                                                            enabled: true
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        series: [
                                        {
                                        name: 'India',
                                        data:{{list5|safe}},
                                
                                    },                               
                                    {
                                        name: 'Brazil',
                                        data:{{list6|safe}},
                                
                                    },
                                    {
                                        name: 'China',
                                        data:{{list7|safe}},
                                
                                    },
                                    {
                                        name: 'Mexico',
                                        data:{{list8|safe}},
                                
                                    },
                                    {
                                        name: 'Taiwan',
                                        data:{{list9|safe}},
                                
                                    },
                                    {
                                        name: 'Philippines',
                                        data:{{list10|safe}},
                                
                                    },
                                    ]
                                    });
                            </script>   
                                         
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
      </div>
    </div>
  </div>
</body>
<script>
$(function(){
    $( "#dt" ).datepicker({
                       changeMonth : true,
                       changeYear : true,
                       dateFormat : 'yy-mm-dd'
                   });
               });
                          function table_data(selected){
                            d3.csv("../static/csv/page5_table1.csv",function(data)
                                            {
                                                data.forEach(function(d) {
                                                d.trade_dt = d.trade_dt;
                                                d.Ticker_Und=d.Ticker_Und;
                                                d['VaR90D%']=+d['VaR90D%']
                                        });
                                sort_data=data.filter((item) => item.trade_dt === selected)
                                data2=sort_data;
                                if(sort_data.length!=0)
                                    {
                                      if(data2[0]['Ticker_Und'])
                                        document.getElementById("1").innerHTML=data2[0]['Ticker_Und']
                                     else
                                        document.getElementById("1").innerHTML=null;
                                        if(data2[1]['Ticker_Und'])
                                        document.getElementById("2").innerHTML=data2[1]['Ticker_Und']
                                     else
                                        document.getElementById("2").innerHTML=null;
                                        if(data2[2]['Ticker_Und'])
                                        document.getElementById("3").innerHTML=data2[2]['Ticker_Und']
                                     else
                                        document.getElementById("3").innerHTML=null;
                                        if(data2[3]['Ticker_Und'])
                                        document.getElementById("4").innerHTML=data2[3]['Ticker_Und']
                                     else
                                        document.getElementById("4").innerHTML=null;
                                    if(data2[4]['Ticker_Und'])
                                        document.getElementById("5").innerHTML=data2[4]['Ticker_Und']
                                     else
                                        document.getElementById("5").innerHTML=null;
                                        if(data2[0]['VaR90D%']>=0||data2[0]['VaR90D%']<0)
                                        document.getElementById("6").innerHTML=  parseFloat(data2[0]['VaR90D%']*100).toFixed(3)+"%"
                                     else
                                        document.getElementById("6").innerHTML=null;
                                        if(data2[1]['VaR90D%']>=0||data2[1]['VaR90D%']<0)
                                        document.getElementById("7").innerHTML=  parseFloat(data2[1]['VaR90D%']*100).toFixed(3)+"%"
                                     else
                                        document.getElementById("7").innerHTML=null;
                                        if(data2[2]['VaR90D%']>=0||data2[2]['VaR90D%']<0)
                                        document.getElementById("8").innerHTML=  parseFloat(data2[2]['VaR90D%']*100).toFixed(3)+"%"
                                     else
                                        document.getElementById("8").innerHTML=null;
                                        if(data2[3]['VaR90D%']>=0||data2[3]['VaR90D%']<0)
                                        document.getElementById("9").innerHTML=  parseFloat(data2[3]['VaR90D%']*100).toFixed(3)+"%"
                                     else
                                        document.getElementById("9").innerHTML=null;
                                        if(data2[4]['VaR90D%']>=0||data2[4]['VaR90D%']<0)
                                        document.getElementById("10").innerHTML=  parseFloat(data2[4]['VaR90D%']*100).toFixed(3)+"%"
                                     else
                                        document.getElementById("10").innerHTML=null;
                                    }
                                    else
                                    {
                                                  document.getElementById("1").innerHTML=null;
                                                  document.getElementById("2").innerHTML=null;
                                                  document.getElementById("3").innerHTML=null;  
                                                  document.getElementById("4").innerHTML=null;   
                                                  document.getElementById("5").innerHTML=null;   
                                                  document.getElementById("6").innerHTML=null;   
                                                  document.getElementById("7").innerHTML=null;   
                                                  document.getElementById("8").innerHTML=null;   
                                                  document.getElementById("9").innerHTML=null;     
                                                  document.getElementById("10").innerHTML=null;    
                                    }
                        });
                        d3.csv("../static/csv/page5_table2.csv",function(data)
                                            {
                                                data.forEach(function(d) {
                                                d.trade_dt = d.trade_dt;
                                                d.Country=d.Country;
                                                d['VaR90D%']=+d['VaR90D%']
                                        });
                                sort_data=data.filter((item) => item.trade_dt === selected )
                                data2=sort_data;
                                if(sort_data.length!=0)
                                    {
                                      if(data2[0]['Country'])
                                        document.getElementById("11").innerHTML=data2[0]['Country']
                                     else
                                        document.getElementById("11").innerHTML=null;
                                        if(data2[1]['Country'])
                                        document.getElementById("12").innerHTML=data2[1]['Country']
                                     else
                                        document.getElementById("12").innerHTML=null;
                                        if(data2[2]['Country'])
                                        document.getElementById("13").innerHTML=data2[2]['Country']
                                     else
                                        document.getElementById("13").innerHTML=null;
                                        if(data2[3]['Country'])
                                        document.getElementById("14").innerHTML=data2[3]['Country']
                                     else
                                        document.getElementById("14").innerHTML=null;
                                    if(data2[4]['Country'])
                                        document.getElementById("15").innerHTML=data2[4]['Country']
                                     else
                                        document.getElementById("15").innerHTML=null;
                                    if(data2[0]['VaR90D%']>=0||data2[0]['VaR90D%']<0)
                                        document.getElementById("16").innerHTML=  parseFloat(data2[0]['VaR90D%']*100).toFixed(3)+"%"
                                     else
                                        document.getElementById("16").innerHTML=null;
                                        if(data2[1]['VaR90D%']>=0||data2[1]['VaR90D%']<0)
                                        document.getElementById("17").innerHTML=  parseFloat(data2[1]['VaR90D%']*100).toFixed(3)+"%"
                                     else
                                        document.getElementById("17").innerHTML=null;
                                        if(data2[2]['VaR90D%']>=0||data2[2]['VaR90D%']<0)
                                        document.getElementById("18").innerHTML=  parseFloat(data2[2]['VaR90D%']*100).toFixed(3)+"%"
                                     else
                                        document.getElementById("18").innerHTML=null;
                                        if(data2[3]['VaR90D%']>=0||data2[3]['VaR90D%']<0)
                                        document.getElementById("19").innerHTML=  parseFloat(data2[3]['VaR90D%']*100).toFixed(3)+"%"
                                     else
                                        document.getElementById("19").innerHTML=null;
                                        if(data2[4]['VaR90D%']>=0||data2[4]['VaR90D%']<0)
                                        document.getElementById("20").innerHTML=  parseFloat(data2[4]['VaR90D%']*100).toFixed(3)+"%"
                                     else
                                        document.getElementById("20").innerHTML=null;
                                    }
                                    else
                                    {
                                                  document.getElementById("11").innerHTML=null;
                                                  document.getElementById("12").innerHTML=null;
                                                  document.getElementById("13").innerHTML=null;  
                                                  document.getElementById("14").innerHTML=null;   
                                                  document.getElementById("15").innerHTML=null;   
                                                  document.getElementById("16").innerHTML=null;   
                                                  document.getElementById("17").innerHTML=null;   
                                                  document.getElementById("18").innerHTML=null;   
                                                  document.getElementById("19").innerHTML=null;     
                                                  document.getElementById("20").innerHTML=null;    
                                    }
                        });
                        d3.csv("../static/csv/page5_table3.csv",function(data)
                                            {
                                                data.forEach(function(d) {
                                                d.trade_dt = d.trade_dt;
                                                d.GICS_Sector_Name=d.GICS_Sector_Name;
                                                d['VaR90D%']=+d['VaR90D%']
                                        });
                                sort_data=data.filter((item) => item.trade_dt === selected )
                                data2=sort_data;
                                if(sort_data.length!=0)
                                    {
                                      if(data2[0]['GICS_Sector_Name'])
                                        document.getElementById("21").innerHTML=data2[0]['GICS_Sector_Name']
                                     else
                                        document.getElementById("21").innerHTML=null;
                                        if(data2[1]['GICS_Sector_Name'])
                                        document.getElementById("22").innerHTML=data2[1]['GICS_Sector_Name']
                                     else
                                        document.getElementById("22").innerHTML=null;
        
                                        if(data2[2]['GICS_Sector_Name'])
                                        document.getElementById("23").innerHTML=data2[2]['GICS_Sector_Name']
                                     else
                                        document.getElementById("23").innerHTML=null;
        
                                        if(data2[3]['GICS_Sector_Name'])
                                        document.getElementById("24").innerHTML=data2[3]['GICS_Sector_Name']
                                     else
                                        document.getElementById("24").innerHTML=null;
        
                                    if(data2[4]['GICS_Sector_Name'])
                                        document.getElementById("25").innerHTML=data2[4]['GICS_Sector_Name']
                                     else
                                        document.getElementById("25").innerHTML=null;
                                    if(data2[0]['VaR90D%']>=0||data2[0]['VaR90D%']<0)
                                        document.getElementById("26").innerHTML=  parseFloat(data2[0]['VaR90D%']*100).toFixed(3)+"%"
                                     else
                                        document.getElementById("26").innerHTML=null;
                                        if(data2[1]['VaR90D%']>=0||data2[1]['VaR90D%']<0)
                                        document.getElementById("27").innerHTML=  parseFloat(data2[1]['VaR90D%']*100).toFixed(3)+"%"
                                     else
                                        document.getElementById("27").innerHTML=null;
                                        if(data2[2]['VaR90D%']>=0||data2[2]['VaR90D%']<0)
                                        document.getElementById("28").innerHTML=  parseFloat(data2[2]['VaR90D%']*100).toFixed(3)+"%"
                                     else
                                        document.getElementById("28").innerHTML=null;
                                        if(data2[3]['VaR90D%']>=0||data2[3]['VaR90D%']<0)
                                        document.getElementById("29").innerHTML=  parseFloat(data2[3]['VaR90D%']*100).toFixed(3)+"%"
                                     else
                                        document.getElementById("29").innerHTML=null;
                                        if(data2[4]['VaR90D%']>=0||data2[4]['VaR90D%']<0)
                                        document.getElementById("30").innerHTML=  parseFloat(data2[4]['VaR90D%']*100).toFixed(3)+"%"
                                     else
                                        document.getElementById("30").innerHTML=null;
                                    }
                                    else
                                    {
                                                  document.getElementById("21").innerHTML=null;
                                                  document.getElementById("22").innerHTML=null;
                                                  document.getElementById("23").innerHTML=null;  
                                                  document.getElementById("24").innerHTML=null;   
                                                  document.getElementById("25").innerHTML=null;   
                                                  document.getElementById("26").innerHTML=null;   
                                                  document.getElementById("27").innerHTML=null;   
                                                  document.getElementById("28").innerHTML=null;   
                                                  document.getElementById("29").innerHTML=null;     
                                                  document.getElementById("30").innerHTML=null;    
                                    }
                        });
                          }
                </script>
</html>
