<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />

  <title>
    Net Exposure
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../static/assets/css/now-ui-dashboard.css?v=1.3.0" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  h2{
      color:white !important;  
  }

.line {
  fill: none;
  stroke:#9EC8F1;
  stroke-width: 2px;
}

.area {
  fill:lightblue;
  /* fill:#9BAEC2; */
  /* fill:transparent; */
}
.arealine
    {
      /* stroke:white; */
      fill:none;
      stroke-width:1px;
    }
#date
{
    padding-left:10%;
}

#bubblehart{
    width:100%;
    height:50%;
}
/* p{
    font-size:20px;
} */
.axis line, .axis path
{
stroke:#6D7E93;
stroke-width:0.5px;
}
.axis text{
  font-size:0.45rem !important;
  fill:#6D7E93;
}
.column{
    width:300px;
    height:40px;
    font-size:18px;
    padding:5px;
    border-radius:3px;
    border:1px solid #CCCCCC;
}
.toolTip, div.toolTip{
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #6F257F;
    padding: 14px;
    text-align: center;
    pointer-events: none; 
    font-family:verdana;
    }
    /* #c1{
        display:block;
        margin:auto !important;
    }
    #c2{
        display:block;
        margin:auto !important;
    } */

    .main-panel > .content
    {
        min-height: 0px !important;
        overflow-x: hidden;
    }  
</style>
  </style>



</head>

<body class="" onload="bubble('2019-09-10'); bubble2('2019-09-10'); tree('2019-09-10')">
  <div class="wrapper ">
      <div class="sidebar" data-color="orange" >
          <!--
            Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
        -->
          <div class="logo">
            <a  href="{% url 'firstpage'%}">
                <img src="../static/images/ghclogo.png" height=70 width=70>
                
            </a>
            
          </div>
          <div class="sidebar-wrapper" id="sidebar-wrapper">
            <ul class="nav">
              <li >
                <a href="{% url 'firstpage'%}">
                  <!-- <i class="now-ui-icons design_app"></i> -->
                  <p>Portfolio Overview</p>
                </a>
              </li>
              <li class="active ">
                <a href="{% url 'secondpage'%}">
                  <!-- <i class="now-ui-icons education_atom"></i> -->
                  <p>Net Exposure</p>
                </a>
              </li>
              <li>
                <a href="{% url 'thirdpage'%}">
                  <!-- <i class="now-ui-icons location_map-big"></i> -->
                  <p>Factor Contribution</p>
                </a>
              </li>
              <li>
                <a href="{% url 'fourthpage'%}">
                  <!-- <i class="now-ui-icons ui-1_bell-53"></i> -->
                  <p>Gross Exposure and PnL</p>
                </a>
              </li>
              <li >
                <a href="{% url 'fifthpage'%}">
                  <!-- <i class="now-ui-icons users_single-02"></i> -->
                  <p>Value at Risk</p>
                </a>
              </li>
              <li>
                <a href="{% url 'sixthpage'%}">
                  <!-- <i class="now-ui-icons design_bullet-list-67"></i> -->
                  <p>Excess, Vol and Return Disturbution</p>
                </a>
              </li>
              <li >
                <a href="{% url 'logout'%}">
                    <!-- <i class="far fa-user mr-2 tm-logout-icon"></i> -->
                    <span>Logout<i style="font-size:24px" class="fa">&#xf08b;</i></span>
        
                </a>
            </li>
          
            </ul>
          </div>
        </div>
    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <div class="navbar-toggle">
                <button type="button" class="navbar-toggler">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
                </button>
              </div>
              <h4 style=" text-transform: uppercase;">Net Exposure Evolution Since ITD</h4>
            </div>
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
            </button> -->
            <ul style="float:right">
                <li style="display: inline-block;font-size:13px; text-transform: uppercase;">welcome,&nbsp;{{user}}</li>
          </ul>
          </div>
        </nav>
        <!-- End Navbar -->
      <div class="panel-header panel-header-lg" >
          <div id="areachart">
              <script src="https://d3js.org/d3.v4.min.js"></script>   
          <script>
          var margin = {top: 10, right: 0, bottom: 100, left: 100},
              width = 700 - margin.left - margin.right,
              height = 300 - margin.top - margin.bottom;
          var parseTime = d3.timeParse("%d-%b-%y");
          var formatTime = d3.timeFormat("%b %d %Y");
          var x = d3.scaleTime().range([0, width]);
          var y = d3.scaleLinear().range([height, 0]);
          var area = d3.area()
              .x(function(d) { return x(d.Date); })
              .y0(height)
              .y1(function(d) { return y(d.Net); })
              .curve(d3.curveBasis);;

          var valueline = d3.line()  
                            .x(function(d) { return x(d.Date); })
                            .y(function(d) { return y(d.Net); })
                            .curve(d3.curveBasis);
          var svg = d3.select("#areachart")
                      .append("svg")
                      .attr("viewBox", [0, 0, width+190, height+50 ])
                      .append("g")
                      .attr("transform","translate(" + margin.left + "," + margin.top + ")");
          var div = d3.select("#areachart").append("div").attr("class", "toolTip");
          d3.csv("../static/csv/page2_evolution_ITD.csv", function(error, data) {
            if (error) throw error;
            data.forEach(function(d) {
                d.Date = parseTime(d.Date);
                d.Net = (+d.Net)*100;
            });
            x.domain(d3.extent(data, function(d) { return d.Date; }));
            y.domain([0, 100]);
        svg.selectAll("dot")    
              .data(data)         
          .enter().append("circle")                               
              .attr("r", 8)     
              .style("fill", "transparent")  
              .attr("cx", function(d) { return x(d.Date); })       
              .attr("cy", function(d) { return y(d.Net); })     
              .on("mouseover", function(d){
                  div.transition()		
                  .duration(200)		
                          .style("left", d3.event.pageX - 350 + "px")
                          .style("top", d3.event.pageY - 100 + "px")
                          .style("display", "inline-block")   
                          div.html("Date : "+formatTime(d.Date)+ "<br/>Net Exposure: "  + d.Net.toFixed(2) + "%");
                  })
                  .on("mouseout", function(){
                          div.style("display","none")
                      });
              x_axis=svg.append("g")
                      .attr("transform", "translate(0," + height + ")").attr("class","axis")
                      .call(d3.axisBottom(x).tickFormat(d3.timeFormat("%b-%y")).tickValues(x.ticks(3).concat(x.domain())))
                      .selectAll("text");
    

              y_axis= svg.append("g").attr("class","axis")
                          .call(d3.axisLeft(y).tickFormat(d => d+"% ")).selectAll("text");;
              svg.append("text")      // text label for the x axis
                  .attr("x", -100 )
                  .attr("y",  -50 )
                  .style("text-anchor", "middle")
                  .style("font-size", "0.6rem")
                  .attr("transform", "rotate(-90)")
                  .text("Net Exposure")
                  .style("fill","#6D7E93")

          // x_axis.selectAll("text").style("fill","black").style("font-size","13");
          // y_axis.selectAll("text").style("fill","black").style("font-size","12");
          var focus = svg.append("g")
          .attr("class", "focus")
          .style("display", "none");
              focus.append("circle")
                  .attr("r", 5);
              focus.append("text")
                  .attr("x", 9)
                  .attr("dy", ".35em")
                  .style("font-size",15);
            svg.append("path")
                .datum(data)
                .attr("class", "arealine")
                .attr("d", valueline);
           
              svg.append("path")
                 .data([data])
                 .attr("class", "area")
                 .attr("d", area)
          }); 
          </script>
          </div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Net Exposure</h5>
                <h4 class="card-title">Breakdown By Stock</h4>
              </div>
              <div class="card-body">
                  <script src="https://d3js.org/d3.v4.min.js"></script>
                  <div id="image1" style="margin-left:40%;height:100px;"></div>
                  <svg id="treemap"></svg>
                  <script>
                  function tree(selected_date){
                              d3.selectAll("#treemap > *").remove()
                              var margin = {top: 10, right: 10, bottom: 10, left: 60},
                              width = 1200,
                              height = 950 ;
                              var svg = d3.select("#treemap")
                                          .attr("viewBox", [0, 0, width+100, height+280 ])
                                          .append("g")
                                          .attr("transform","translate(" + margin.left + "," + margin.top + ")");
                              color = d3.scaleOrdinal(d3.schemeCategory20)
                              d3.csv('../static/csv/net_exposure_stock.csv', function(data) {
                                  sort_data=data.filter((item) => item.Date === (selected_date) )
                                  sort_data.forEach(function(x)
                                  {
                                      delete x.Date;
                                  })
                                  sort_data.unshift({ name: 'Origin', value: '',parent:'' });
                                  if(sort_data.length!=1)
                                  {
                                      document.getElementById("image1").style.display="none"
                                      document.getElementById("treemap").style.display="block"
                                  var root = d3.stratify()
                                      .id(function(d) { return d.name; })   // Name of the entity (column name is name in csv)
                                      .parentId(function(d) { return d.parent; })   // Name of the parent (column name is parent in csv)
                                      (sort_data);
                                  root.sum(function(d) { return +d.value })   // Compute the numeric value for each entity
                                  d3.treemap()
                                      .size([width, height+70])
                                      .padding(5)
                                      (root)
                                  var tool = d3.select("body").append("div").attr("class", "toolTip");
                                  svg
                                      .selectAll("rect")
                                      .data(root.leaves())
                                      .enter()
                                      .append("rect")
                                      .attr('x', function (d) { return d.x0; })
                                      .attr('y', function (d) { return d.y0; })
                                      .attr('width', function (d) { return d.x1 - d.x0; })
                                      .attr('height', function (d) { return d.y1 - d.y0; })
                                      .style("stroke", "black")
                                      .attr("fill", (d,i) => color(i))
                                      .on("mouseover", function(d){
                                      tool.style("left", d3.event.pageX - 50 + "px")
                                              .style("top", d3.event.pageY - 100 + "px")
                                              .style("display", "inline-block")   
                                      tool.html("Ticker : "+d.data.name+ "<br/>Exp as % of Total : "  + ((d.value)*100).toFixed(2)+"%");
                                      })
                                      .on("mouseout", function(){
                                      tool.style("display","none")
                                  });;
                                  svg
                                      .selectAll("text")
                                      .data(root.leaves())
                                      .enter()
                                      .append("text")
                                      .attr("x", function(d){ return d.x0+10})    // +10 to adjust position (more right)
                                      .attr("y", function(d){ return d.y0+20})    // +20 to adjust position (lower)
                                      .text(d=>d.data.name )
                                      .attr("font-size", "15px")
                                      .attr("fill", "white") ;
                                  }  
                                  else{
                         document.getElementById("image1").style.display="block"
                         document.getElementById("treemap").style.display="none"
                         document.getElementById("image1").innerHTML="<img src='../static/images/nodata.jpg\' width=\"200px\" height=\"200px\"  >";
                     }    
                      })
                              }
                      </script>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Net Exposure</h5>
                <h4 class="card-title">Breakdown By Sector</h4>
              </div>
              <div class="card-body">
                    <div id="image2" style="margin-left:40%;height:100px"></div>
                    <svg width="600" height="450" id="c2"></svg>
                    <script src="https://d3js.org/d3.v4.min.js"></script>
                    <script>  
                        function bubble2(selected_date)
                            {
                                var width =600, height = 450;
                                d3.selectAll("#c2 > *").remove()
                                    var svg1 = d3.select("#c2").attr("viewBox", [50, 0, width, height ]);;
                                    margin = 0,                                                
                                    d3.csv("../static/csv/net_exposure_sector.csv",function(data)
                                        {
                                        data.forEach(function(d) {
                                            d.Sector=d.Sector;
                                            d.Net=+d.Net;
                                    });
                                    sort_data=data.filter((item) => item.Date === selected_date )
                                    if(sort_data.length!=0)
                                    {
                                        document.getElementById("image2").style.display="none"
                                        document.getElementById("c2").style.display="block"
                                        color = d3.scaleOrdinal(d3.schemeCategory20)
                                        formatPercent = d3.format(",.2%");
                                            var div = d3.select("body")
                                                    .append("div")
                                                    .attr("class", "toolTip")
                                            let bubble = d3.pack()
                                                            .size([width, height])
                                                            .padding(1.5);
                                            let nodes = d3.hierarchy({children:sort_data})
                                                    .sum(function (d) { return d.Net; });
                                            let node = svg1.selectAll(".node")
                                                    .data(bubble(nodes).descendants())
                                                    .enter()
                                                    .filter(function (d) { return !d.children })
                                                    .append("g")
                                                    .attr("class", "node")
                                                    .attr("transform", function (d) { return "translate(" + d.x + "," + d.y + ")";});
                                            node.append("circle")
                                            .attr("x", function (d) { return d.x; })
                                            .attr("y", function (d) { return d.y; })
                                            .attr("r", function (d) { return d.r; })
                                            .attr("fill", (d,i) => color(i))
                                            .on("mouseover", function(d){
                                            div.transition()		
                                            .duration(200)		
                                                    .style("left", d3.event.pageX - 50 + "px")
                                                    .style("top", d3.event.pageY - 100 + "px")
                                                    .style("display", "inline-block")   
                                                    div.html("Date : "+d.data.Date+ "<br/>Sector :"  + d.data.Sector +"<br/>Net Exposure: "+((d.data.Net)*100).toFixed(1) + "%")

                                            })
                                                .on("mouseout", function(){
                                                        div.style("display","none")
                                            });
                                            node.append("text")
                                            .attr("dy", ".0em")
                                            .style("text-anchor", "middle")
                                            .text(function (d) { return d.data.Sector;})
                                            .attr("font-family", "verdana")
                                            .attr("font-size", function (d) { return d.r /5; })
                                            .attr("fill", "white");
                                            node.append('text')
                                            .attr("dy", "1.2em")
                                            .style("text-anchor", "middle")
                                            .text(function (d) { return formatPercent(d.data.Net); })
                                            .attr("font-family", "verdana")
                                            .attr("font-size", function (d) { return d.r /5; })
                                            .attr("fill", "white");
                                    }
                                    else{
                                            document.getElementById("image2").style.display="block"
                                            document.getElementById("c2").style.display="none"
                                            document.getElementById("image2").innerHTML="<img src='../static/images/nodata.jpg\' width=\"200px\" height=\"200px\"  >";
                                        }
                                    })
                            }
                    </script>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Net Exposure</h5>
                <h4 class="card-title">Breakdown By Country</h4>
              </div>
              <div class="card-body" >
                <!-- <div class="chart-area"> -->
                  <div id="bubblechart">     
                      <script src="https://d3js.org/d3.v4.min.js"></script>
                      <div id="image3" style="margin-left:40%;height:100px"></div>
                      <svg width="600" height="450" id="c1" ></svg>
                      <script>
                          function bubble(selected_date)
                              {
                              d3.selectAll("#c1 > *").remove()
                              var width=400,height=450;
                                  var svg = d3.select("#c1").attr("viewBox", [50, 0, width, height]);
                                      margin =  0,
                                      d3.csv("../static/csv/net_exposure_country.csv",function(data)
                                      {
                                      data.forEach(function(d) {
                                          d.Country=d.Country;
                                      d.Net=+d.Net;
                                              });
                                  sort_data=data.filter((item) => item.Date === selected_date )
                                  if(sort_data.length!=0)
                                  {
                                      document.getElementById("image3").style.display="none"
                                      document.getElementById("c1").style.display="block"
                                      color = d3.scaleOrdinal(d3.schemeCategory20)
                                      formatPercent = d3.format(",.2%");
                                          let bubble = d3.pack()
                                                          .size([width, height])
                                                          .padding(1.5);
                                          let nodes = d3.hierarchy({children:sort_data})
                                                  .sum(function (d) { return d.Net; });
                                          var div = d3.select("body")
                                                          .append("div")
                                                          .attr("class", "toolTip")
                                          let node = svg.selectAll(".node")
                                                  .data(bubble(nodes).descendants())
                                                  .enter()
                                                  .filter(function (d) { return !d.children })
                                                  .append("g")
                                                  .attr("class", "node")
                                                  .attr("transform", function (d) { return "translate(" + d.x + "," + d.y + ")";});
                                          node.append("circle")
                                          .attr("x", function (d) { return d.x; })
                                          .attr("y", function (d) { return d.y; })
                                          .attr("r", function (d) { return d.r/1; })
                                          .attr("fill", (d,i) => color(i))
                                          .on("mouseover", function(d){
                                                          div.transition()		
                                                          .duration(200)		
                                                                  .style("left", d3.event.pageX - 50 + "px")
                                                                  .style("top", d3.event.pageY - 100 + "px")
                                                                  .style("display", "inline-block")   
                                                                  div.html("Date : "+d.data.Date+ "<br/>Country :"  + d.data.Country +"<br/>Net Exposure: "+((d.data.Net)*100).toFixed(1) + "%")
  
                                                          })
                                                              .on("mouseout", function(){
                                                                      div.style("display","none")
                                                          });
                                          node.append("text")
                                          .attr("dy", ".2em")
                                          .style("text-anchor", "middle")
                                          .text(function (d) { return d.data.Country;})
                                          .attr("font-family", "sans-serif")
                                          .attr("font-size", function (d) { return d.r /4; })
                                          .attr("fill", "white") ;
                                          node.append('text')
                                          .attr("dy", "1.3em")
                                          .style("text-anchor", "middle")
                                          .text(function (d) { return formatPercent(d.data.Net); })
                                          // .attr("font-family", "sans-serif")
                                          .attr("font-size", function (d) { return d.r / 4; })
                                          .attr("fill", "white");
                                  }
                                  else{
                                     document.getElementById("image3").style.display="block"
                                     document.getElementById("c1").style.display="none"
                                     document.getElementById("image3").innerHTML="<img src='../static/images/nodata.jpg\' width=\"200px\" height=\"200px\"  >";
                                 }
                                  })
                                  }      
                              </script>
                          </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
  
    </div>
  </div>

</body>

</html>
