<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />

  <title>
      Excess, Vol and Return Disturbution
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../static/assets/css/now-ui-dashboard.css?v=1.3.0" rel="stylesheet" />
  <link href="../static/assets/demo/demo.css" rel="stylesheet" />


<style>
        
        .bar { 
          fill:#95CEFF;
         

          }
        .toolTip {
                position: absolute;
                display: none;
                min-width: 80px;
                height: auto;
                background: none repeat scroll 0 0 #ffffff;
                border: 1px solid #6F257F;
                padding: 14px;
                text-align: center;
                pointer-events: none;
        }
     
        .main-panel > .content
        {
          min-height: calc(100vh - 750px) !important;
        }
        </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="" >
  <div class="wrapper ">
      <div class="sidebar" data-color="orange">
          <!--
            Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
        -->
          <div class="logo">
            <a  href="{% url 'firstpage'%}">
                <img src="../static/images/ghclogo.png" height=70 width=70>
                
            </a>
            
          </div>
          <div class="sidebar-wrapper" id="sidebar-wrapper">
            <ul class="nav">
              <li >
                <a href="{% url 'firstpage'%}">
                  <!-- <i class="now-ui-icons design_app"></i> -->
                  <p>Portfolio Overview</p>
                </a>
              </li>
              <li>
                <a href="{% url 'secondpage'%}">
                  <!-- <i class="now-ui-icons education_atom"></i> -->
                  <p>Net Exposure</p>
                </a>
              </li>
              <li>
                <a href="{% url 'thirdpage'%}">
                  <!-- <i class="now-ui-icons location_map-big"></i> -->
                  <p>Factor Contribution</p>
                </a>
              </li>
              <li>
                <a href="{% url 'fourthpage'%}">
                  <!-- <i class="now-ui-icons ui-1_bell-53"></i> -->
                  <p>Gross Exposure and PnL</p>
                </a>
              </li>
              <li>
                <a href="{% url 'fifthpage'%}">
                  <!-- <i class="now-ui-icons users_single-02"></i> -->
                  <p>Value at Risk</p>
                </a>
              </li>
              <li class="active ">
                <a href="{% url 'sixthpage'%}">
                  <!-- <i class="now-ui-icons design_bullet-list-67"></i> -->
                  <p>Excess, Vol and Return Disturbution</p>
                </a>
              </li>
              <li >
                <a href="{% url 'logout'%}">
                    <!-- <i class="far fa-user mr-2 tm-logout-icon"></i> -->
                    <span>Logout<i style="font-size:24px" class="fa">&#xf08b;</i></span>
        
                </a>
            </li>
          
            </ul>
          </div>
        </div>
  
    <div class="main-panel" id="main-panel">
    
        <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
            <div class="container-fluid">
              <div class="navbar-wrapper">
                <div class="navbar-toggle">
                  <button type="button" class="navbar-toggler">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                  </button>
                </div>
                <h4 style=" text-transform: uppercase;">Volatility Evolution</h4>
              </div>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
              </button>
              <ul style="float:right">
                  <li style="display: inline-block;font-size:13px; text-transform: uppercase;">welcome,&nbsp;{{user}}</li>
            </ul>
            </div>
          </nav>
     
      <div class="panel-header panel-header-lg">
          <script src="https://code.highcharts.com/highcharts.js"></script>
          <script src="https://code.highcharts.com/modules/series-label.js"></script>
          <script src="https://code.highcharts.com/modules/exporting.js"></script>
          <script src="https://code.highcharts.com/modules/export-data.js"></script>
          <div  id="container" ></div>
       
              <script>
                Highcharts.chart('container', {
                  chart: {
                      backgroundColor: "transparent",
                     
                    },

                  title: {
                text: '',
                x: -20 //center
            },
         
            credits: {
                                enabled: false
                            },
                            exporting: {
                                buttons: {
                                    contextButton: {
                                    enabled:false
                                    },
                                    
                                }
                            },
            xAxis: {
                categories: {{data.dates|safe}},
                tickInterval:10,
                lineColor:"white",
                lineWidth:1,
                tickLength: 7,
                tickWidth: 1,
                tickColor:"white",
                tickColor: 'white',
                labels: {
                    style: {
                        color: 'white',
                    }
                  },
            },
            yAxis: {
                title: {
                    text: 'Growth of $1000',
                   
                    style:{
                      color:"white"
                    }
                },
          
                labels: {
                  style: {
                        color: 'white',
                    },
                formatter: function () {
                    return '$' + this.axis.defaultLabelFormatter.call(this);
                }            
              },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: 'white'
                }],
                gridLineWidth:0,
                lineColor:"white",
                lineWidth:1,
                tickLength: 7,
                tickWidth: 1,
                tickColor:"white",
            },
            tooltip: {
                    pointFormat: '{series.name}: <b>{point.y}</b><br/>',
                    headerFormat: "Date:<b>{point.key} </b><br><br>"
                    
                },
                legend: {
                  itemStyle: {
                      color: 'white'
                  }  
              },
              plotOptions: {
                  series: {
                    marker: {
                      enabled: false
                    }
                  }
                },
            series: [{
                name: 'Fund_Cumulative',
                data: {{data.data1|safe}},
                color:"#FC7599",
            }, {
                name: 'Cumulative_Return_Benchmark',
                data: {{data.data2|safe}},
                color: "#999EFF"
            },
            {
                name: 'Cumulative_Return_Benchmark',
                data: {{data.data3|safe}},
                color: "orange"
            }]
              });
</script>
        
      </div>
      <div class="content">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="card card-chart">
              <div class="card-header">
                      <h4 class="card-title">Benchmark vs Fund Returns</h4>

              </div>
              <div class="card-body">
                <div id="my_dataviz">
                  <div id="legend">
                 </div>
                </div>
                <script src="https://d3js.org/d3.v4.js"></script>
                <script>
                
                  // set the dimensions and margins of the graph
                  var margin = {top: 15, right: 30, bottom: 0, left: 80},
                      width =450 ,
                      height = 270 ;
                  
                  // append the svg object to the body of the page
                  var svg3 = d3.select("#my_dataviz")
                    .append("svg").attr("viewBox", [0, 0, width+150, height+100])
                    .append("g")
                      .attr("transform",
                            "translate(" + margin.left + "," + margin.top + ")");
                            
                  // Parse the Data
                  d3.csv("../static/csv/page6_Fund_benchmark_return.csv", function(data) {
                
                  
                    var parseDate = d3.timeParse("%Y-%m-%d");
                
                      
                    data.forEach(function(d) {
                      d.Benchmarkreturn=(+d.Benchmarkreturn)*100;
                      d.Return=(+d.Return)*100;
                    d[0] = parseDate(d[0]);
                    // console.log(typeof(d[0]))
                });
                  // X axis
                                        
                  function getDate(d) {
                    return new Date(d.Date);
                }
                
                var minDate = getDate(data[0]),
                    maxDate = getDate(data[data.length-1]);
                
                  var x = d3.scaleTime()
                    .range([ 0, width ])
                    .domain([minDate, maxDate]) 
                    
                  svg3.append("g")
                    .attr("transform", "translate(0," + height + ")")
                    .call(d3.axisBottom(x).tickFormat(d3.timeFormat("%b-%y")))
                    .selectAll("text")
                    .attr("transform", "translate(-10,0)rotate(-45)")
                    .style("text-anchor", "end");
                  
                  // //  adding y-axis label
                  svg3.append("text")      // text label for the x axis
                    .attr("x", -200)
                    .attr("y",  -50 )
                    .style("text-anchor", "middle")
                    .style("font-size", "12px")
                    // .style("font-family","verdana")
                    .attr("transform", "rotate(-90)")
                    .text("Fund (%)");

                  // Add Y axis
                  var y = d3.scaleLinear()
                    .domain([-10, 10])
                    .range([ height, 0]);
                  svg3.append("g")
                    .call(d3.axisLeft(y).tickFormat(d =>d.toFixed(1)+"%"));
                  
                  // Lines
                  svg3.selectAll("myline")
                    .data(data)
                    .enter()
                    .append("line")
                      .attr("x1", function(d) { return x(getDate(d)); })
                      .attr("x2", function(d) { return x(getDate(d)); })
                      .attr("y1", function(d) { return y(d.Benchmarkreturn); })
                      .attr("y2",  function(d) { return y(d.Return); })
                      .attr("stroke", function(d){ return d.Benchmarkreturn <= d.Return ? '#999EFF' : '#FC7599' })
                      .attr("stroke-width", "1px")
                  var tooltip = d3.select("body").append("div").attr("class", "toolTip");
                  // Circles



              var colors = ["#999EFF", "#FC7599"];
      
                var data_1 = ['Benchmark','Fund'];

                  var svg_3 = d3.select('#my_dataviz')
                  .append('svg')
                  .attr("viewBox", [150, -5, width+120, 20])  
                  
                  var groups = svg_3.selectAll('g')
                  .data(data_1)
                  .enter()
                  .append('g');
                  

                  var line=groups.append("line").attr("x1",300).attr("x2",313).attr("y1",5).attr("class","legend")
                  .attr("y2",5).attr('stroke',function(d,i) { return colors[i];})

                  var text = groups.append('text')
                  .attr('y', 10)
                  .attr('x',314).style("font-size","14px")
                  .text(function(d) { return d; });
                  
                  // Now space the groups out after they have been appended:
                  var padding = 40;
                  groups.attr('transform', function(d,i) { 
                  return "translate("+(d3.sum(data, function(e,j) {
                      if (j < i) { return groups.nodes()[j].getBBox().width; } else return 0; }) + padding * i) + ",0)";
                  })
          
                  svg3.selectAll("mycircle")
                      .data(data)
                      .enter()
                      .append("circle")
                      .attr("cx", function(d) { return x(getDate(d)); })
                      .attr("cy", function(d) { return y(d.Benchmarkreturn); })
                      .attr("r", "5")
                      .style("fill", "#FC7599")
                      .on("mouseover", function(d){
                          tooltip
                            .style("left", d3.event.pageX - 50 + "px")
                            .style("top", d3.event.pageY - 60 + "px")
                            .style("display", "inline-block")
                            .html("Benchmark: "+(d.Benchmarkreturn).toFixed(2)+"%"+"<br>Fund: "+(d.Return).toFixed(2)+"%");
                      })
                      .on("mouseout", function(d){ tooltip.style("display", "none");});;
                      // .attr("stroke", "black")
                
                
                      svg3.selectAll("mycircle")
                          .data(data)
                          .enter()
                          .append("circle")
                          .attr("cx", function(d) { return x(getDate(d)); })
                          .attr("cy", function(d) { return y(d.Return); })
                          .attr("r", "5")
                          .style("fill", "#999EFF")
                          .on("mouseover", function(d){
                              tooltip
                                .style("left", d3.event.pageX - 50 + "px")
                                .style("top", d3.event.pageY - 60 + "px")
                                .style("display", "inline-block")
                                .html("Benchmark: "+(d.Benchmarkreturn).toFixed(2)+"%"+"<br>Fund: "+(d.Return).toFixed(2)+"%");
                          })
                          .on("mouseout", function(d){ tooltip.style("display", "none")});
                      // .attr("stroke", "black")
                
                  })
                  
    
                  </script>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="card card-chart">
              <div class="card-header">
              
                <h4 class="card-title">Frequency Distribution - Trailing 2 Years</h4>
              
              </div>
              <div class="card-body"  >
                <div id="c1"></div>
                <script src="//d3js.org/d3.v4.min.js"></script>
                <script>
                
                // set the dimensions and margins of the graph
                var margin = {top: 20, right: 0, bottom: 80, left: 80},
                    width = 450 ,
                    height = 290 ;
                
                // set the ranges
                var x = d3.scaleBand()
                          .range([0,width])
                var y = d3.scaleLinear()
                          .range([height, 0]);

                var tooltip = d3.select("body").append("div").attr("class", "toolTip");   


                // append the svg object to the body of the page
                // append a 'group' element to 'svg'
                // moves the 'group' element to the top left margin
                var svg = d3.select("#c1")
                            .append("svg")
                            .attr("viewBox", [0, 0, width+150, height+100])
                            .append("g")
                            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
                
                // get the data
                d3.csv("../static/csv/frequency_dist_T2years.csv", function(error, data) {
                  if (error) throw error;
                
                  // format the data
                  data.forEach(function(d) {
                    d.Frequency = +d.Frequency;
                  });
                
                  // Scale the range of the data in the domains
                  x.domain(data.map(function(d) { return d.Category; }));
                  y.domain([0, d3.max(data, function(d) { return d.Frequency; })]);
                
                  // append the rectangles for the bar chart
                  svg.selectAll(".bar")
                      .data(data)
                    .enter().append("rect")
                      .attr("class", "bar")
                      .attr("x", function(d) { return x(d.Category)+22; })
                      .attr("width", x.bandwidth()-50)
                      .attr("y", function(d) { return y(d.Frequency); })
                      .attr("height", function(d) { return height - y(d.Frequency); })
                      // .attr('transform', 'translate(400,450')
                      .on("mouseover", function(d){
                            tooltip
                              .style("left", d3.event.pageX - 50 + "px")
                              .style("top", d3.event.pageY - 100 + "px")
                              .style("display", "inline-block")
                              .html("Category: "+(d.Category) + "<br>Frequency: "+ (d.Frequency));
                        })
                        .on("mouseout", function(d){ tooltip.style("display", "none");});;;
                
                  // add the x Axis
                  svg.append("g")
                      .attr("transform", "translate(0," + height + ")")
                      .call(d3.axisBottom(x).ticks(5).tickSizeOuter(0)) .selectAll("text").style("font-family","verdana")
                      .attr("transform", "translate(30,0)rotate(0)")
                      .style("text-anchor", "end");;
                
                //adding x-axis label
                svg.append("text")             
                    .attr("transform","translate(" + (width/2) + " ," + (height + 60) + ")")
                    .style("text-anchor", "middle")
                    .style("font-size","13")
                    .text("Return Buckets");
                
                  // add the y Axis
                  svg.append("g")
                      .call(d3.axisLeft(y));
                
                      
                  //adding label to y-axis
                      svg.append("text")      // text label for the x axis
                        .attr("x",-200 )
                        .attr("y",-50)
                        .style("text-anchor", "middle")
                        .style("font-size", "13px")
                        .text("Number of Months").attr("transform", "rotate(-90)");
                        svg.selectAll("text.bar")  		
                    .data(data)
                    .enter()
                    .append("text")
                    .attr("class","label")
                    .attr("text-anchor", "start")
                    .attr("x", (function(d) { return x(d.Category)+40; }  ))
                    .attr("y", function(d) { return y(d.Frequency)-15; })
                    .attr("dy", ".75em")
                    .text(function(d) { return d.Frequency; }); 
              
                    
                
                });
                
                </script>
              </div>
           
            </div>
          </div>
          <div class="col-lg-4 col-md-4 ">
            <div class="card card-chart">
              <div class="card-header">
                <h4 class="card-title">Frequency Distribution - Since Inception</h4>
                <div id="c22"></div>
                <script src="//d3js.org/d3.v4.min.js"></script>
              </div>
              <div class="card-body">
                  <script>
                        
                      // set the dimensions and margins of the graph
                      var margin = {top: 20, right: 0, bottom: 100, left: 80},
                                      width = 450 ,
                                      height = 290 ;
                      
                      // set the ranges
                      var x = d3.scaleBand()
                                .range([0, width])
                                .padding(0.1);
                      var y = d3.scaleLinear()
                                .range([height, 0]);
                                
                      // append the svg object to the body of the page
                      // append a 'group' element to 'svg'
                      // moves the 'group' element to the top left margin
                      var svg1 = d3.select("#c22")
                                    .append("svg")
                                    .attr("viewBox", [0, 0, width+150, height+100])
                                    .append("g")
                                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
                      
                      var tooltip = d3.select("body").append("div").attr("class", "toolTip");
                      // get the data
                      d3.csv("../static/csv/frequency_dist_inception.csv", function(error, data) {
                        if (error) throw error;
                      
                        // format the data
                        data.forEach(function(d) {
                          d.Frequency = +d.Frequency;
                        });
                      
                        // Scale the range of the data in the domains
                        x.domain(data.map(function(d) { return d.Inspection; }));
                        y.domain([0, d3.max(data, function(d) { return d.Frequency; })]);
                      
                        // append the rectangles for the bar chart
                        svg1.selectAll(".bar")
                            .data(data)
                          .enter().append("rect")
                            .attr("class", "bar")
                            .attr("x", function(d) { return x(d.Inspection); })
                            .attr("width", x.bandwidth())
                            .attr("y", function(d) { return y(d.Frequency); })
                            .attr("height", function(d) { return height - y(d.Frequency); })
                            .on("mouseover", function(d){
                                    tooltip
                                      .style("left", d3.event.pageX - 50 + "px")
                                      .style("top", d3.event.pageY - 100 + "px")
                                      .style("display", "inline-block")
                                      .html("Inspection: "+(d.Inspection) + "<br>Frequency"+ (d.Frequency));
                                })
                                .on("mouseout", function(d){ tooltip.style("display", "none");});;
                      
                        // add the x Axis
                        svg1.append("g")
                            .attr("transform", "translate(0," + height + ")")
                            .call(d3.axisBottom(x).tickSizeOuter(0)).selectAll("text")
                              .attr("transform", "translate(-10,0)rotate(-45)")
                              .style("text-anchor", "end");
                      
                                  //adding x-axis label
                                  svg1.append("text")             
                                      .attr("transform","translate(" + (width/2) + " ," + (height+80) + ")")
                                      .style("text-anchor", "middle")
                                      .style("font-size","13")
                                      .text("Return Buckets");
                      
                        // add the y Axis
                        svg1.append("g")
                            .call(d3.axisLeft(y));
                      
                            
                        //adding label to y-axis
                        svg1.append("text")      // text label for the x axis
                            .attr("x",-200 )
                            .attr("y",-50)
                            .style("text-anchor", "middle")
                            .style("font-size", "13px")
                            .text("Number of Months").attr("transform", "rotate(-90)");



                            svg1.selectAll("text.bar")  		
                              .data(data)
                              .enter()
                              .append("text")
                              .attr("class","label")
                              .attr("text-anchor", "start")
                              .attr("x", (function(d) { return x(d.Inspection)+18; }  ))
                              .attr("y", function(d) { return y(d.Frequency)-17; })
                              .attr("dy", ".75em")
                              .text(function(d) { return d.Frequency; }); 

                      
                      });
                      
                      </script>
              </div>
          </div>
         
        </div>
        
      </div>
  
    </div>
  
  </div>

</body>

</html>
